/* Images */
.spacing-bottom {
    margin-bottom: 2em;
}

.no-overlay .image:before {
    background-image: none;
}

.image_style {
    margin-bottom: 1em !important;
}

.image_style img {
	transition: .3s;
}

.image_style:hover img {
	transition: .3s;
    transform: scale(1.1);
}

.row>* {
    padding: 0.5em;
}

.row {
    margin-left: 0em;
}

/*Music*/
.custom-margin-music {
    margin: 0px;
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #36394b;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
}

.song-section {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: rgb(220, 220, 220);
    align-items: center;
    margin-bottom: 15px;
    border-radius: 12px 8px 8px 12px;
    box-shadow: 5px 5px 5px rgb(17, 17, 22);
}

.song-section p {
    color: rgb(255, 255, 255);
    font-weight: normal;
}

audio::-webkit-media-controls-enclosure {
    background: none;
}

.audio-control {
    width: 100%;
}

.music-area h4 {
    margin: 25px 0px 5px 0px;
}

.music-area h3 {
    margin: 50px 0px 5px 0px;
}

.splitcols{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.splitcol{
    width: 55%;
}

.spacing{
    width: 5%;
}

.spacing-h4 {
    margin-top: 35px !important;
}

.spacing-top {
    margin-bottom: -20px !important;
}

#typing {
    min-height: 45px;
    margin-top: 0px !important;
    word-spacing: 5px;
}

/* About me*/
.border_top {
    border-top: 5px solid #5480f1;
    padding: 2.5em 0 2.5em 0;
    height: 35vh;
}

/*Programming Projects*/
.project_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.project_box a{
    margin: 0px !important;
}

.project_box .image{
    border-radius: 0px 0px 4px 4px !important;
}

.project_box a img{
    transition: 0.3s;
    border-radius: 0px 0px 4px 4px !important;
}

.project_box p{
    position: relative;
    z-index: 1;
    background: #0d0d11;
    text-align: center;
    padding: 5px 10px 5px 10px;
    width: 100%;
    margin: 0px;
    border-radius: 10px 10px 0px 0px;
}

.project_box:hover img{
    transform: scale(1.1);
    transition: 0.3s;
}

.project_subpage_content p{
    text-align: center;
}

.blank_space{
    height: 30vh;
}

/* Footer*/
#footer {
    padding: 1em 0;
}

#footer .no_marg {
    margin: 0px;
}

#footer .icons {
    margin-bottom: 0em;
}

#footer .copyright {
    margin-top: 1em;
}

.style2 h2 {
    margin-bottom: 10px;
}

.no_shadow {
    box-shadow: none;
}

/**/
@media screen and (max-width: 980px) {
    .border_top {
        height: auto;
        text-align: center;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .splitcols{
        flex-direction: column;
    }

    .splitcol{
        width: 100%;
    }
}