.custom-margin-music{
    margin: 0 0 0.5em 25px;
}

.spacing-top{
    margin-top: 3em;
}

.spacing-bottom{
    margin-bottom: 2em;
}

.word-spacing{
    word-spacing: 5px;
    
}

.no-overlay .image:before{
    background-image: none;
}

