body{
    background-color: var(--custom-background-color-gray);
}

.padding_left_10{
    padding-left: 10%;
}

.padding_right_10{
    padding-right: 10%;
}

.padding_bottom_top_50px{
    padding-top: 70px;
    padding-bottom: 70px;
}

.button_style{
    width: 130px;
    height: 45px;
    position: relative;
    border-radius: 15px;
}

:root{
    --custom-background-color-gray: rgb(242, 242, 242);
    --custom-font-color-dark: rgb(58,51,58);
    --custom-font-color-light: rgb(126,113,126);

}