.aboutMeImage{
    background-image: url(/images/placeholder.png); 
    height: 100vh;
    position: relative;
    background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutMeImage h1{
    font-size: 180px;
}

.aboutMeImage p{
    font-size: 20px;
    margin-top: -20px;
}
