#skills h1{
    text-align: center;
    padding-bottom: 10px;
}

.skill_first_image_padding{
    padding-left: 30px;
}

.skill_image_padding{
    padding-left: 2px;
}

.skills {
    padding-bottom: 150px;
}

.skill-box table{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.skill-box table tr{
    margin-left: 5px;
    margin-right: 5px;
}

.skill-box-color{
    background-color: white;
    min-height: 20vh;
    min-width: 25vw;
}

.skill-box{
    margin-bottom: 20px;
}

h4{
    text-align: center;
    background-color: var(--custom-background-color-dark-gray);
    padding-top: 5px;
    padding-bottom: 5px;
}